<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <!-- Agrega los enlaces CSS de Bootstrap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    
    <!-- Estilo personalizado -->

  </head>
  <body class="body-login" >

    
    <div class="login-card card">
      <div class="card-body">
        <h2 class="card-title text-center mb-4 daniel">Iniciar sesión</h2>

                <form action="" method="POST">
                  {% csrf_token %}
                  <!-- {{ form }} -->

                  <div class="form-group">
                      <label for="id_username">Nombre de Usuario</label>
                      <input
                        type="text"
                        autocomplete="username"
                        name="username"
                        class="form-control"
                        required
                        id="id_username"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group">
                      <label for="id_username">Contraseña</label>
                      <input
                        type="password"
                        autocomplete="current-password"
                        name="password"
                        required
                        class="form-control"
                        id="id_password"
                      />
                    </div>

                    <button type="submit" value="ingresar" class="btn btn-dark">
                      ingresar
                    </button>

                </form>
              </div>
            </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
  </html>
