{% extends 'app/base2.html' %}





{% load static %}

<!-- integracion de js personalizado -->
{% block js %}
{% endblock %}

<!-- integracion de css personalizado -->
{% block css %}
{% endblock %}

{% block contenido %}
<!-- Page Heading -->
<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Empleados</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Agregar empleado</h6>
    </div>
    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">

          <label class="form-label">Rut</label>
          <input type="" class="form-control" name="rut">
          <label class="form-label">Verificador</label>
          <input type="" class="form-control" name="dv">

        </div>

        <div class="mb-3">
          <label class="col-form-label">Primer nombre</label>
          <input type="" class="form-control" name="p_nombre">
          <label class="col-form-label">Segundo nombre</label>
          <input type="" class="form-control" name="s_nombre">
          <label class="col-form-label">Apellido Paterno</label>
          <input type="" class="form-control" name="p_apellido">
          <label class="col-form-label">Aplledo Materno</label>
          <input type="" class="form-control" name="s_apellido">
        </div>


        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="" class="form-control" name="email">
        </div>


        <div class="mb-3">
          <label class="col-form-label">Cargo</label>
          <select name="cargo" id="">

            <option value="">Seleccionar</option>
            {% for c in cargo %}
            <!-- <input type="" class="form-control" name="cargo"> -->
            <option value="{{c.0}}">{{c.1}}</option>
            {% endfor %}
          </select>
        </div>


        <div class="mb-3">
          <label class="form-label">Sucursal</label>
          <select name="sucursal" id="">
            <option value="">Seleccionar</option>
            {% for c in sucursal %}
            <option value="{{c.0}}">{{c.1}}</option>
            <!-- <input type="" class="form-control" name="sucursal"> -->
            {% endfor %}
        </div>

        <br>

        <div class="mb-3">
          <label for="formFile" class="form-label"></label>
          <input class="form-control" type="file" name="imagen">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>




      </form>


    </div>

  </div>
</div>

{% endblock %}