{% extends 'app/base2.html' %}





    {% load static %}

    <!-- integracion de js personalizado -->
{% block js %}
{% endblock %}

    <!-- integracion de css personalizado -->
{% block css %}
{% endblock %}

{% block contenido %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Empleados</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agregar empleado</h6>
    </div>
    <div class="card-body">

    <form action="" method="POST" >
        {% csrf_token %}
        
        {% for p in insumo %}
        <div class="mb-3">

            <label class="form-label">Rut</label>
            <input type="" class="form-control" name="id_insumo" value="{{p.0}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Verificador</label>
            <input type="" class="form-control"  name="insumo" value="{{p.1}}">

        </div>

          <div class="mb-3">
            <label class="col-form-label">Primer nombre</label>
            <input type="" class="form-control" name="stock" value="{{p.2}}">
        </div>
            <div class="mb-3">
            <label class="col-form-label">Segundo nombre</label>
            <input type="" class="form-control" name="color" value="{{p.3}}">
        </div>
            <div class="mb-3">
            <label class="col-form-label">Apellido Paterno</label>
            <input type="" class="form-control" name="sucursal_id_sucursal" value="{{p.4}}">
          </div>

          

          <button type="submit" class="btn btn-primary">Submit</button>
          {% endfor %}
    </form>


</div>

</div>


{% endblock %}