{% extends 'app/base2.html' %} {% load static %}

<!-- integracion de js personalizado -->
{% block js %} {% endblock %}

<!-- integracion de css personalizado -->
{% block css %}
<link href="{% static 'app/css/logo.css' %}" rel="stylesheet" />
{% endblock %} {% block contenido %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Empleados</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tabla de Empleados</h6>
  </div>

  {% for p in empleado %}
  <br />
  <div class="card mb-3" style="max-width: 500px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="data:imagen/png;base64, {{p.imagen}}"
          alt="..."
          class="img-fluid"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text daniel">
            {{ p.data.2 | title }} {{ p.data.4 | title }}
          </p>
          <p class="card-text">
            <small class="text-muted">{{ p.data.6 | title }}</small>
          </p>
          <a href="{% url 'modemp' p.data.0 %}">Modificar</a>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<a href=""></a>
{% endblock %}
