{% extends 'app/base2.html' %}





    {% load static %}

    <!-- integracion de js personalizado -->
{% block js %}
{% endblock %}

    <!-- integracion de css personalizado -->
{% block css %}
{% endblock %}

{% block contenido %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Formulario de Reportes</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Agregar reporte</h6>
                        </div>
                        <div class="card-body">
                            <!-- <form action="" method="post">
                                {% csrf_token %}

                            <label for="">id</label>
                            <input type="text" name="id_reporte" id="id_reporte">
                            <label for="">titulo</label>
                            <input type="text" name="titulo" id="titulo">
                            <label for="">ingreso</label>
                            <input type="text" name="descripcion" id="descripcion">
                            <label for="">empleado</label>
                            <select name="empleado_id_empleado" id="empleado_id_empleado">
                                <option value="">seleccionar</option>
                                {% for c in empleado_id_empleado%}
                                    <option value="{{ c.0 }}"> {{ c.1 }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="empleado_id_empleado" id="empleado_id_empleado"> 
                            <br>
                            <input type="submit" value="guardar">


                        </form> -->
                        {{mensaje}}
                        </div>
                    </div>





                    {% endblock %}
                