{% extends 'app/base2.html' %} {% load static %}

<!-- integracion de js personalizado -->
{% block js %}
<script src="{% static 'app/js/datatables.traduccion.js' %}"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="{% static 'app/js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'app/js/historial.js' %}"></script> 
{% endblock %}

<!-- integracion de css personalizado -->
{% block css %}
<link href="{% static 'app/css/logo.css' %}" rel="stylesheet" />
<link href="{% static 'app/css/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />

{% endblock %} {% block contenido %}
<!-- Page Heading -->
<div class="container-fluid">
  {% if messages %}
  <div class="alert alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x" role="alert">
    {% for message in messages %}
      <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">historial</h1>

  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tabla historial</h6>
      <button id="export-btn">Exportar a Excel</button>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Descripcion</th>
              <th>Ingresado</th>
            </tr>
          </thead>
          
          <tbody>
            {% for h in historial %}
            <tr>
              <td>{{h.0}}</td>
              <td>{{h.1}}</td>
              <td>{{h.3}}</td> 
              <td>{{h.2}}</td>
            </tr>
            {% endfor %}
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
