{% extends 'app/base2.html' %}
<!-- importaciones de carpeta static -->
{% load static %}

<!-- integracion de js personalizado -->
{% block js %}
{% endblock %}

<!-- integracion de css personalizado -->
{% block css %}
{% endblock %}



<!-- Contenido de la pag -->
{% block contenido %}

<h1 class="h3 mb-2 text-gray-800">Incio</h1>

<table class="table table-striped table-hover table-responsive-sm">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Direccion</th>
    </tr>
    {% for p in usuarios %}
    <tr>
        <td>{{ p.0 | title }}</td>
        <td>{{ p.1 | title }}</td>
        <td>{{ p.3 | title }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}