{% extends 'app/base2.html' %} {% load static %}

<!-- integracion de js personalizado -->
{% block js %} {% endblock %}

<!-- integracion de css personalizado -->
{% block css %}

<link href="{% static 'app/css/logo.css' %}" rel="stylesheet" />
<link src="{% static 'app/css/prueba_emp.css' %}" rel="stylesheet" />
{% endblock %} {% block contenido %}

<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800"></h1>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tabla de pepe</h6>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <div class="centered-content">
          <img
            src="{% static 'app/img/pepefrg-4.gif' %}"
            alt="GIF"
            class="moving-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
