{% extends 'app/base2.html' %}





    {% load static %}

    <!-- integracion de js personalizado -->
{% block js %}
{% endblock %}

    <!-- integracion de css personalizado -->
{% block css %}
{% endblock %}

{% block contenido %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Reportes</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabla de Reportes</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Titutlo</th>
                                            <th>Descripcion</th>
                                            <th>Fecha ingreso</th>
                                            <th>Ingresado</th>
                                            <th>Prioridad</th>
                                            <th>Piso</th>
                                            <th>sector</th>
                                            <th>estado</th>
                                            <th>Asignado</th>
                                            <th>Imagen</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for p in reporte %}
                                        <tr>
                                            <td>{{ p.data.0 | title }}</td>
                                            <td>{{ p.data.1 | title }}</td>
                                            <td>{{ p.data.2 | title }}</td>
                                            <td>{{ p.data.3 | title }}</td>
                                            <td>{{ p.data.4 | title }}</td>
                                            <td>{{ p.data.5 | title }}</td>
                                            <td>{{ p.data.6 | title }}</td>
                                            <td>{{ p.data.7 | title }}</td>
                                            <td>{{ p.data.8 | title }}</td>
                                            <td>{{ p.data.11 | title }}</td>
                                            <td>
                                                {% if p.imagen %}
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                  Ver
                                                </button>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Reporte n°{{ p.data.0 | title }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        <img src="data:imagen/png;base64, {{p.imagen}}" alt="" class="img-fluid" >
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                              
                                                <button type="button" href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                    Asignar
                                                  </button>
                                            
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        <!-- Vertically centered modal -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {% endblock %}
