{% extends 'app/base2.html' %}





    {% load static %}

    <!-- integracion de js personalizado -->
{% block js %}
<script src="{% static 'app/js/usuario.js' %}"></script>
{% endblock %}

    <!-- integracion de css personalizado -->
{% block css %}
<link src="{% static 'app/css/all.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    {% if messages %}
    <div class="alert alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x" role="alert">
      {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabla de Usuarios</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Contraseña</th>
                                            <th>Rut</th>
                                            <th>Estado</th>
                                            <th>Accion</th>


                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for p in usuarios %}
                                        <tr>
                                            <td>{{ p.0 | title }}</td>
                                            <td style="white-space: nowrap;">
                                                <div class="d-flex justify-content-between align-items-center">
                                                  <span class="password hidden" data-password="{{ p.1 }}">**********</span>
                                                  <button type="button" class="btn btn-secondary btn-show">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                      </svg>
                                                  </button>





                                                </div>
                                              </td>
                                            <td>{{ p.2 | title }}</td>
                                            {% if p.3 == 2%}
                                                <td>Deshabilitado</td>
                                                {% elif p.3 == 1 %}
                                                <td>Habilitado</td>
                                                {% endif %}
                                            <td>
                                                

                                                {% if p.3 == 2 %}
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="accion" value="estado">
                                                        <input type="hidden" name="usuario" value="{{ p.0 }}">
                                                        <input type="hidden" name="estado_u_id_estado_u" value="1">
                                                        <button type="submit" class="btn btn-success">Habilitar</button>
                                                    </form>
                                                    {% elif p.3 == 1 %}
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="accion" value="estado">
                                                        <input type="hidden" name="usuario" value="{{ p.0 }}">
                                                        <input type="hidden" name="estado_u_id_estado_u" value="2">
                                                        <button type="submit" class="btn btn-danger">Deshabilitar</button>
                                                    </form>
                                                {% endif %}

                                                  
                                            </td>

                                        </tr>
                                        {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endblock %}
